color1 = #2caaff 
color2 = #fdd700
color3 = #334F9A

body 
    background-color #f9f9f9
    font-size 14px
    font-family: 'Roboto', sans-serif;

a 
.btn
    &:active
    &:focus
        box-shadow none
        outline none

.mtop16
    margin-top 16px

.mtop32
    margin-top 32px   

.form-control
    &:hover
    &:focus 
        box-shadow none
        
nav 
    background-color #fff
    border-bottom 3px solid color2
    .navbar-brand
        img 
            width 70px
    .navbar-toggler
        color color1
        &:active
        &:focus
            box-shadow none
            outline none
    .navbar-nav
        li.nav-item
            a.nav-link
                border 1px solid #fff;
                border-radius 4px;
                color = #000;
                font-size .9em;
                font-weight bold;
                margin-right 4px;
                padding 5px 16px !important
                &hover
                    color color3 
            a.btn 
                border 1px solid color2 
                color #000 
                &:hover
                    background-color color2 
            ul.dropdown-menu
                border-radius 0px 0px 4px 4px
                background-color #fff       
                border 0px
                top 136% !important
                li
                    border-bottom 1px solid #fff 
                    a 
                        color #000 
                        display block
                        float none
                        width 100%
                        i
                            color color3
                    &:last-child
                        border-bottom 0px
                    &:hover
                        background-color #f7f7f7f7
    .li.link-acc
        overflow hidden
        a
            display inline-block
            float left
            margin-right 0px !important
            &:first-child
                border-radius 4px 0px 0px 4px
                border-right 1px solid #fff 
            &:last-child
                border-radius 0px 4px 4px 0px
            img 
                position relative
                top -1px
                margin-right 6px
                width 24px
    .link_user
        overflow initial
        a 
            border 0px !important 
            img 
                border-radius 50%
            &:hover             
                background-color transparent !important

.wrapper
    .panel
        background-color #fff
        border-radius 6px
        border-bottom 2px  solid  #1e38f7
        width 100%
        .header
            border-bottom 1px  solid  #e8e8e8
            h2.title 
                display inline-block
                color #19213d
                font-size 1.1em
                margin-bottom 0px
                padding 12px 16px
            ul 
                display inline-block
                float right  
                margin-right 12px          
                li
                    display inline-block
                    position relative
                    a 
                        color #333
                        display inline-block
                        padding 10px
                        &:hover
                            background-color #f6f6f6
                            text-decoration none
                            color #222
                        i 
                            color #2caaff
                    ul 
                        background-color #fff
                        display none
                        float none
                        position absolute
                        right -16px
                        width 160px
                        border 1px solid #f0f0f0
                        li 
                            display inline-block
                            width 100%
                            border-bottom 1px solid #f0f0f0
                            &:last-child
                                border-bottom 0px
                            a 
                                display block 
                                width 100%
                    &:hover
                        ul 
                            display block 
        .inside
            padding 16px    
            .nav 
                .nav-link 
                    border 1px solid #1e38f7 
                    margin-right 8px
                    &:hover
                        background-color #1e38f7 
                        color #fff
            .form_search
                display none
                margin-bottom 16px
                .btn 
                    width 100%
            .big_count
                display block
                font-size 2em
                text-align center
                width 100%
            .edit_avatar
                a
                    display block
                    margin 0px auto
                    position relative
                    width 140px
                    .overlay
                        align-items center
                        background-color rgba(0,0,0, .75)
                        border-radius 50%                        
                        color #fff
                        display none 
                        font-size 2em
                        justify-content center
                        height 140px
                        position absolute                        
                        width 100%
                        img
                            width 60px
                    &:hover 
                        .overlay
                            display flex
                img
                    border-radius 50%
                    display block
                    width 100%
                .form-control
                    display none
            .btn-primary
                background-color color1 
                border 0px
                padding 8px 32px !importamt 
                &:hover
                    background-color color2 
                    color #000

@media only screen and (max-width 728px)
    nav 
        .navbar-nav
            display block !important
            margin-top 16px
            overflow hidden
            li.nav-item
                display block
                float left       
                margin-right 0px  
                margin-bottom 16px       
                width 50%
                a.nav-link
                    color color3 
                    text-align center
                    span 
                        display block  
                        margin-top 4px                      
                        font-size 1em  
                        font-weight bold                      
                        width 100%
                    i 
                        font-size 3em
                &:last-child
                    float inline-end
                    width 100%
